@import 'variables'

body::-webkit-scrollbar 
    width: 0

*, ::after, ::before
    margin: 0
    padding: 0
    border: 0

.mainContainer
    display: flex
    justify-content: space-between
    background-color: $clr-base-green