@import 'variables'

.mainWrapper
    display: flex
    flex-direction: column

    &:after
        content: ''
        background-color: $clr-light-grey
        border-radius: 18px
        height: 3px

.headerWrapper
    display: flex
    justify-content: space-between
    margin-top: 29px

.headerContainer
    display: flex
    align-items: center
    padding-right: 40px

    li
        list-style: none
        color: $clr-light-grey
        font-weight: 300
        font-size: $fs-16
        line-height: 19px
        margin-right: 19px

        &:last-child
            margin-right: 0

    .selected
        color: $clr-header